<nav class="navbar navbar-expand-sm navbar-light bg-primary py-1"> <!--py-2 px-3 -->
  <div class="container-fluid">
    <div class="px-3 py-2">
      <i style="font-size:clamp(25px,5vw,40px)" class="fas fa-shipping-fast text-light">&nbsp;</i>
      <strong class="text-light" style="font-size: clamp(20px,5vw,30px)">Flipkart</strong>
    </div>
    <div class="px-3" id="navbarSupportedContent">
      <form class="d-flex position-relative">
        <input class="form-control me-2 py-1 px-2" type="search" placeholder="search-component" aria-label="Search">
        <span class="fas fa-search search-icon text-black-50"></span>
      </form>
    </div>
    <button class="btn btn-primary px-3 py-2">
      <i class="fas fa-cart-plus fs-1"></i>
      <div class="p-1 badge bg-danger">5</div>
    </button>
  </div>
</nav>
